-if(typeof flash != 'undefined')
  include ../mixins/flash-messages
  mixin flash-messages(flash)
h1 Flocks
p
  a(href='/flocks/new', class='btn primary') Add a Flock
- if(flocks.length)
  table
    tr
      th Name
      th Organizer
      th ID
      th Location
      th Edit
      th Delete
        each flock in flocks
          tr
            td #{flock.name}
            td #{flock.organizer}
            td #{flock.shortID}
            td #{flock.location.lat}, #{flock.location.lon} 
            td
              a(href="/flocks/#{flock.id}/edit") Edit
            td
              form(method='post', action='flocks/' + flock.id)
                input(name='_method', value='DELETE', type='hidden')
                button(type='submit') Delete
- else
  p There are no flocks created yet. :(